html, body {
	padding:0;
	margin:0;
}

body {
	background:#fff;
	color:#222;
	font-size:60px;
	font-family:Garamond, 'Times New Roman', serif;
	text-align:center;
}

#container {
	width:1000px;
	margin:0 auto;
}

.number {
	font-size:100px;
	font-weight:bold;
}
